{% extends "base.html" %}

{% block content %}
<p>Add lecture.</p>

<form action="#" method="post">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.name.label(class="form-control-label") }}
        {{ form.name(class="form-control") }}
    </div>
        <div class="form-group">
        {{ form.professor.label(class="form-control-label") }}
        {{ form.professor(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.students.label(class="form-control-label") }}
        {{ form.students(class="form-control") }}
    </div>
    <div id="submit">
        {{ form.submit }}
    </div>


</form>

{% endblock %}