{% extends "base.html" %}

{% block content %}
<h2>Edit child: </h2>
<form method="post" action="#">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.name.label(class="form-control-label") }}
        {{ form.name(class="form-control", value=child.name) }}
    </div>
    <div class="form-group">
        {{ form.surname.label(class="form-control-label") }}
        {{ form.surname(class="form-control", value=child.surname) }}
    </div>
    <div class="form-group">
        {{ form.age.label(class="form-control-label") }}
        {{ form.age(class="form-control", value=child.age) }}
    </div>
    <div class="form-group">
        {{ form.parents.label(class="form-control-label") }}
        {{ form.parents(class="form-control", value=child.parent) }}
    </div>
    {{ form.submit }}
</form>
{% endblock %}